* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue";
  background-color: #f4f4f5;
  color: #fff;
}

body > div {
  margin: auto;
}

/* Block */
.btn {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 12px 48px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.btn + .btn {
  margin-left: 16px;
}

.btn:hover {
  opacity: 0.8;
}

.btn--success {
  background-color: #71bd34;
}
.btn--warn {
  background-color: #ffb703;
}
.btn--error {
  background-color: #ff623d;
}

.btn--disabled {
  opacity: 0.5 !important;
  cursor: default;
}

.btn--size-s {
  padding: 8px 40px;
}

.btn--size-l {
  padding: 16px 56px;
}
